{% extends "base.html" %}

{% for message in get_flashed_messages() %}
<div class="flash">{{message}}</div>
{% endfor %}
{% block content %}
<div class="form-login">
    <h1>Register</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.fullname.label }}<br>
            {{ form.fullname(size=32) }}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size= 64) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}